$purple-accent: #8B32FE;
$main-background: #1B1B1B;
$footer-background: #2D2D2E;
$lighter-gray: #615D6D;
$just-white: #FFFFFF;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
